.env
.DS_Store
.byebug_history
.vscode
master.key

frontend/dist
backend/vendor/bundle
backend/log/*
backend/tmp/*
backend/storage/*
backend/public/uploads/tmp/*
!backend/public/uploads/tmp/.gitkeep
infra/docker/volumes/*

.nuxt
node_modules
yarn-error.log
.eslintcache
